
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.flag {
    /*width: 50px;*/
    height: 35px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 15px;
}

/* Tentando ajeitar footer */
/*.body{

    margin:0;
    padding:0;
    height:100%;
    
    position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}*/

.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #306830;
}
.navbar-header {
    background-color: #306830;
    width: 100%;
}

.navbar-default .navbar-brand {
    color: white;
}