<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 
    <ui:composition template="/templates/template.xhtml"> 
        <ui:define name="tituloJanela"><h:outputText value="#{msgs['crud.administrator_title']}" /></ui:define>
        <ui:define name="conteudo">
            <script>
                var confirmation_message = "#{msgs['crud.delete.confirmation']}";
            </script>
            <h:form id="form">
                <h:messages />
                <h:panelGroup rendered="#{!AdministratorsManager.editing}">
                    <h:dataTable value="#{AdministratorsManager.list}" var="administrator" id="lista" frame="box" rules="all" cellpadding="3" styleClass="table table-hover table-responsive table-striped">
                        <f:facet name="header">
                            <h:commandButton action="#{AdministratorsManager.newAdministrator()}" value="#{msgs['crud.new']}">			
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </f:facet>					
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.id']}" /></f:facet>
                            <h:outputText value="#{administrator.id}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.login']}" /></f:facet>
                            <h:outputText value="#{administrator.login}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.name']}" /></f:facet>
                            <h:outputText value="#{administrator.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.password']}" /></f:facet>
                            <h:outputText value="•••••" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.update']}" /></f:facet>
                            <h:commandLink action="#{AdministratorsManager.update(administrator)}" value="#{msgs['crud.update']}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.delete']}" /></f:facet>
                            <h:commandLink action="#{AdministratorsManager.delete(administrator)}" value="#{msgs['crud.delete']}" onclick="if (!confirm(confirmation_message))
                                        return false">
                                <f:ajax execute = "@form" render="@form"/>
                            </h:commandLink>
                        </h:column>	
                    </h:dataTable>

                </h:panelGroup>
                <h:panelGroup rendered="#{AdministratorsManager.editing}">
                    <h:panelGrid columns="2">
                        <f:facet name="header"><h:outputText value="#{msgs['crud.updating_administrator_message']}" /></f:facet>

                        <h:outputLabel value="#{msgs['crud.id']}" />
                        <p:inputText value="#{AdministratorsManager.currentadministrator.id}" readonly="true"/>
                        <h:outputLabel value="#{msgs['crud.login']}" />
                        <p:inputText value="#{AdministratorsManager.currentadministrator.login}" maxlength="16" size="16" converter="toLowerCaseConverter"/>
                        <h:outputLabel value="#{msgs['crud.name']}" />
                        <p:inputText value="#{AdministratorsManager.currentadministrator.name}" maxlength="40" size="40"/>
                        <h:outputLabel value="#{msgs['crud.password']}" />
                        <p:password id="password" feedback="true"
                                    promptLabel="#{msgs['index.password.prompt_label']}"
                                    weakLabel="#{msgs['index.password.weak_label']}"
                                    goodLabel="#{msgs['index.password.good_label']}"
                                    strongLabel="#{msgs['index.password.strong_label']}"
                                    value="#{AdministratorsManager.currentadministrator.password}" />
                        <f:facet name="footer">
                            <div align="center">
                                <h:commandButton action="#{AdministratorsManager.cancel()}" value="#{msgs['crud.cancel']}" immediate="true">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                                <h:commandButton action="#{AdministratorsManager.save()}" value="#{msgs['crud.save']}">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </f:facet>			
                    </h:panelGrid>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>
    <h:head></h:head> 
    <h:body> 
    </h:body> 
</html>