<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 
    <ui:composition template="/templates/template.xhtml"> 
        <ui:define name="tituloJanela"><h:outputText value="#{msgs['crud.voter_title']}" /></ui:define>
        <ui:define name="conteudo">
            <script>
                var confirmation_message = "#{msgs['crud.delete.confirmation']}";
            </script>
            <h:form id="form" rendered="#{!ElectionManager.isOpen}">
                <h:messages />
                <h:panelGroup rendered="#{!VotersManager.editing}">
                    <h:dataTable value="#{VotersManager.list}" var="voter" id="lista" frame="box" rules="all" cellpadding="3" styleClass="table table-hover table-responsive table-striped">
                        <f:facet name="header">
                            <h:commandButton action="#{VotersManager.newVoter()}" value="#{msgs['crud.new']}">			
                                <f:ajax execute="@form" render="@form"/>
                            </h:commandButton>
                        </f:facet>					
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.id']}" /></f:facet>
                            <h:outputText value="#{voter.id}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.name']}" /></f:facet>
                            <h:outputText value="#{voter.name}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.voter_number']}" /></f:facet>
                            <h:outputText value="#{voter.voterNumber}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.update']}" /></f:facet>
                            <h:commandLink action="#{VotersManager.update(voter)}" value="#{msgs['crud.update']}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msgs['crud.delete']}" /></f:facet>
                            <h:commandLink action="#{VotersManager.delete(voter)}" value="#{msgs['crud.delete']}" onclick="if (!confirm(confirmation_message)) return false">
                                <f:ajax execute = "@form" render="@form"/>
                            </h:commandLink>
                        </h:column>	
                    </h:dataTable>

                </h:panelGroup>
                <h:panelGroup rendered="#{VotersManager.editing}">
                    <h:panelGrid columns="2">
                        <f:facet name="header"><h:outputText value="#{msgs['crud.updating_voter_message']}" /></f:facet>

                        <h:outputLabel value="#{msgs['crud.id']}" />
                        <p:inputText value="#{VotersManager.currentvoter.id}" readonly="true"/>
                        <h:outputLabel value="#{msgs['crud.name']}" />
                        <p:inputText value="#{VotersManager.currentvoter.name}" maxlength="40" size="40"/>
                        <h:outputLabel value="#{msgs['crud.voter_number']}" />
                        <p:inputText value="#{VotersManager.currentvoter.voterNumber}" size="12" required="true" requiredMessage="#{msgs['crud.voter_registration_number_must_be_informed']}">
                            <f:convertNumber minFractionDigits="0" maxFractionDigits="0" minIntegerDigits="12" maxIntegerDigits="12" groupingUsed="false" />
                        </p:inputText>
                        <f:facet name="footer">
                            <div align="center">
                                <h:commandButton action="#{VotersManager.cancel()}" value="#{msgs['crud.cancel']}" immediate="true">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                                <h:commandButton action="#{VotersManager.save()}" value="#{msgs['crud.save']}">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>
                            </div>
                        </f:facet>			
                    </h:panelGrid>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>
    <h:head></h:head> 
    <h:body> 
    </h:body> 
</html>