<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="tituloJanela"><h:outputText value="#{msgs['index.welcome']}" /><h:outputText value=", #{AdmLoginManager.name}" rendered="#{AdmLoginManager.logged}" />!</ui:define>
        <ui:define name="conteudo">
            <h:panelGroup rendered="#{!(AdmLoginManager.logged or VoterLoginManager.logged)}">
                <span class="row"><h:outputText value="#{msgs['index.login_type_choice']}" /></span>
                <div class="row">
                    <h:form class="col-lg-6">
                        <p:fieldset legend="#{msgs['index.login_as_voter']}">
                            <p:panelGrid columns="3">
                                <h:outputLabel value="#{msgs['index.voter_number']}"></h:outputLabel>
                                <p:inputText value="#{VoterLoginManager.voterNumber}" />
                                <f:facet name="footer">
                                    <div align="center">
                                        <h:commandButton action="#{VoterLoginManager.logon()}" styleClass="ui-priority-primary" value="#{msgs['logon']}" />
                                    </div>
                                </f:facet>
                            </p:panelGrid>
                        </p:fieldset>
                    </h:form>
<!--                    <br />-->
                    <h:form class="col-lg-6">
                        <p:fieldset legend="#{msgs['index.login_as_adm']}">
                            <p:panelGrid columns="2">
                                <h:outputLabel value="#{msgs['login']}"></h:outputLabel>
                                <p:inputText value="#{AdmLoginManager.login}" />
                                <h:outputLabel value="#{msgs['password']}"></h:outputLabel>
                                <p:password id="password" value="#{AdmLoginManager.password}" />
                                <f:facet name="footer">
                                    <div align="center">
                                        <h:commandButton action="#{AdmLoginManager.logon()}" styleClass="ui-priority-primary" value="#{msgs['logon']}" />
                                    </div>
                                </f:facet>
                            </p:panelGrid>
                        </p:fieldset>
                    </h:form>
                </div>
                <h:messages />
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>