<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

    <div class="titulo navbar-header">
        <span class="navbar-brand"><h:outputText value="#{msgs['index.welcome']}" /><h:outputText value=", #{AdmLoginManager.name}" rendered="#{AdmLoginManager.logged}" />!</span>

<!--        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" style="color: white" cclass="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h:outputText value="#{AdmLoginManager.name}" rendered="#{AdmLoginManager.logged}" /> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">#{msgs['logoff']}</a></li>
                </ul>
            </li>
        </ul>-->
    </div>


</html>