<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 
    <f:view locale="#{LanguageManager.locale}">

        <h:panelGroup rendered="#{AdmLoginManager.logged}">
            <h:form>
                <h:panelGrid columns="1" class="list-group">
                    <h:commandLink class="list-group-item" value="#{msgs['menu.index']}" action="/index" />
                    <h:commandLink class="list-group-item" value="#{msgs['menu.crud.voter']}" action="#{VotersManager.list()}" rendered="#{!ElectionManager.isOpen}" />
                    <h:commandLink  class="list-group-item" value="#{msgs['menu.crud.candidate']}" action="#{CandidatesManager.list()}" rendered="#{!ElectionManager.isOpen}" />
                    <h:commandLink  class="list-group-item" value="#{msgs['menu.crud.administrator']}" action="#{AdministratorsManager.list()}" />
                    <h:commandLink  class="list-group-item" value="#{msgs['menu.election.open']}" action="#{ElectionManager.open()}" rendered="#{!ElectionManager.isOpen}" />
                    <h:commandLink  class="list-group-item" value="#{msgs['menu.election.close']}" action="#{ElectionManager.close()}" rendered="#{ElectionManager.isOpen}" />
                    
                    <f:facet name="footer">
                        <div class="list-group" align="center">
                            <h:commandButton class="list-group-item" action="#{AdmLoginManager.logoff()}" styleClass="ui-priority-primary" value="#{msgs['logoff']}" />
                        </div>
                    </f:facet>
                </h:panelGrid>
            </h:form> 
        </h:panelGroup>
    </f:view>
</html>