<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 
    <h:head>
        <title><ui:insert name="tituloJanela"/></title>
        <f:facet name="middle">
            <h:outputStylesheet library="css" name="bootstrap.css" />
            <h:outputScript name="js/jquery.min.js" />
            <h:outputScript name="js/bootstrap.js" />
            <h:outputStylesheet library="css" name="cssLayout.css"/>
        </f:facet>
    </h:head> 
    <h:body class="body"> <!-- Tentando ajeitar footer -->
        <div id="cabecalho" class="navbar navbar-default">
            <ui:include src="/templates/header.xhtml"/>
        </div>
        <div id="barraEsquerda" class="col-lg-2">
            <ui:include src="/templates/menu.xhtml" />
        </div>
        <div class="container container-fluid">
            <div id="conteudo">
                <ui:insert name="conteudo">
                </ui:insert>
            </div>
        </div>
        <div class="container container-fluid">
            <h:form rendered="#{AdmLoginManager.logged}">
                <h:outputText value="#{msgs['menu.election.results']}" rendered="#{!ElectionManager.isOpen}" />
                <h:dataTable value="#{CandidatesManager.list}" var="candidate" id="results" frame="box" rules="all" cellpadding="3" rendered="#{!ElectionManager.isOpen}" styleClass="table table-hover table-responsive table-striped">
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.candidate_number']}" /></f:facet>
                        <h:outputText value="#{candidate.number}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.number_of_votes']}" /></f:facet>
                        <h:outputText value="#{ElectionManager.getVotes(candidate)}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.percent']}" /></f:facet>
                        <h:outputText value="#{ElectionManager.getPercentage(candidate)}%" />
                    </h:column>
                </h:dataTable>
            </h:form>
            <h:form rendered="#{VoterLoginManager.logged}">
                <h:messages />
                <h:dataTable value="#{CandidatesManager.list}" var="candidate" id="lista" frame="box" rules="all" cellpadding="3" rendered="#{ElectionManager.isOpen}" styleClass="table table-hover table-responsive table-striped">			
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.candidate_number']}" /></f:facet>
                        <h:outputText value="#{candidate.number}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.candidate_name']}" /></f:facet>
                        <h:outputText value="#{candidate.name}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="#{msgs['menu.election.vote']}" /></f:facet>
                        <h:commandLink action="#{VoterLoginManager.logoff()}" value="#{msgs['menu.election.vote']}" onclick="PF('dlg1').show();">
                            <f:ajax render="@form" execute="@form"/>
                            <f:actionListener binding="#{ElectionManager.vote(candidate)}" />
                        </h:commandLink>
                    </h:column>
                </h:dataTable>
                <f:facet name="footer" rendered="#{!ElectionManager.isOpen}">
                    <div align="center">
                        <h:commandButton action="#{VoterLoginManager.logoff()}" styleClass="ui-priority-primary" value="Logoff" />
                    </div>
                </f:facet>
                <h:outputText value="#{msgs['menu.election.not_open']}" rendered="#{!ElectionManager.isOpen}" />
            </h:form>
        </div>
        <p:dialog widgetVar="dlg1" modal="true" height="50">
            <h:outputText value="#{msgs['menu.election.vote_confirmation']}" />
        </p:dialog>
        <div class="footer">
            <h:panelGroup>
                <h:form>
                    <h:panelGrid columns="3">
                        <h:commandButton action="#{LanguageManager.english()}" image="resources/images/us.svg" class="flag" value="#{msgs['lang.en']}" />
                        <h:commandButton action="#{LanguageManager.portugues()}" image="resources/images/br.svg" class="flag" value="#{msgs['lang.pt']}" />
                        <h:commandButton action="#{LanguageManager.deutch()}" image="resources/images/de.svg" class="flag" value="#{msgs['lang.de']}" />
                    </h:panelGrid>
                </h:form>
            </h:panelGroup>
        </div>
    </h:body> 
</html>